header {    
    background-color: #000000;
    height: 500px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: #FF5E19;
}
main {
    background-color: #151515;
    height: 1800px;
}
#p {
    height: 305px;

}